* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #0c386b;
}
  
.first-screen {
  width: 100%;
  min-height: 500px;
  background: url('/3418562.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 40px;
}
.name .name_subtitle {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: lighter;
}
.name .name_surname {
  font-size: 30px;
}
.name .name_lines {
  display: flex;
  justify-content: flex-start;
}
.name .name_lines .line1 {
  width: 250px;
  height: 5px;
  background: #0c386b;
}
.name .name_lines .line2 {
  width: 20px;
  height: 5px;
  background: #0e92eb;
  margin-left: 10px;
}
.name .name_lines .line3 {
  width: 20px;
  height: 5px;
  background: #0e92eb;
  margin-left: 10px;
}
.name .name_lines .line4 {
  width: 20px;
  height: 5px;
  background: #0e92eb;
  margin-left: 10px;
}
.header {
  margin-top: 100px;
}
.header .header_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  letter-spacing: 7px;
}
.header .header_skills {
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #0e92eb;
  margin-top: 20px;
}
.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social .social_img {
  margin-top: 90px;
  margin-bottom: 10px;
}
.social .social_instagram {
  width: 25px;
  height: 25px;
}
.social .social_whatsapp {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.social .social_vk {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.social .social_img:hover {
  margin-bottom: 5px;
}
.social .social_instagram:hover {
  width: 30px;
  height: 30px;
}
.social .social_whatsapp:hover {
  width: 35px;
  height: 35px;
}
.social .social_vk:hover {
  width: 35px;
  height: 35px;
}
.social-lines {
  display: flex;
  justify-content: flex-end;
}
.social-lines .line1 {
  width: 8px;
  height: 2px;
  background: #0e92eb;
  margin-right: 5px;
}
.social-lines .line2 {
  width: 8px;
  height: 2px;
  background: #0e92eb;
  margin-right: 5px;
}
.social-lines .line3 {
  width: 8px;
  height: 2px;
  background: #0e92eb;
  margin-right: 5px;
}
.social-lines .line4 {
  width: 90px;
  height: 2px;
  background: #0c386b;
}
.works {
  display: flex;
  flex-wrap: wrap;
}
.works .works_site {
  width: 360px;
  height: 180px;
  margin-top: 70px;
}
.works_site .site {
  display: block;
  width: 350px;
  height: 170px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: auto;
  margin-bottom: 10px;
}
.works_site .site:hover {
  display: block;
  width: 360px;
  height: 180px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 0px;
}
.works .works-technologies {
  text-align: center;
  padding-top: 10px;
}
.footer {
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #E0E0E0, #FDFDFD);
  margin-top: 30px;
}