// размеры шрифтов
$size_extra-big: 46px;
$size_big: 36px;
$size_main: 24px;
$size_small: 16px;

//
$color-black: #202221;
$color-white: #fff;
// 
$color-bg: rgba(160, 134, 135, .17);
$color-main: #01989B;
$color-bg-light: #F3F3F3;