@import "_fonts";
@import "_variables";

html, body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
	padding: 0;
	text-size-adjust: none;
	background-color: $color-white;
	color: $color-black;
	position: relative;
}
* {
	box-sizing: border-box;
}
img {
	border: none;
	max-width: 100%;
}
h1, h2, h3 {
    margin: 0;
}
.container {
    width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}
.main {
    position: relative;
    background: linear-gradient(270.09deg, #E9EAEC 0.08%, #D5D9DA 99.14%);
    &__background {
        background: url('../image/main-bg.jpg') center / cover no-repeat;
        opacity: .8;
    }
    &__info {
        text-align: center;
        padding: 200px 0 150px 0;
    }
    &__name {
        display: inline-block;
        font-family: 'Kurale', sans-serif;
        font-size: 46px;
        border: 3px $color-main solid;
        background-color: $color-white;
        padding: 10px 20px;
    }
    &__profession {
        color: #000;
    }
}
.menu {
    position: absolute;
    bottom: -20px;
    right: 50%;
    transform: translateX(50%);
    &__list {
        display: flex;
        justify-content: center;
        font-size: $size_small;
        padding: 0;
        margin: 0;
    }
    &__item {
        list-style-type: none;
        background-color: $color-main;
        color: $color-white;
        border: 1px $color-bg-light solid;
        padding: 10px 40px;
        cursor: pointer;
        &:nth-child(2) {
            border-right: none;
            border-left: none;
        }
    }
}
.subtitle {
    font-size: 32px;
}
.about {
    font-size: 18px;
    background: rgba(160, 134, 135, .17);
    &__description {
        position: relative;
        padding: 100px 0 100px 0;
    }
    &__text-wrapper {
        position: relative;
        z-index: 1;
        margin-right: 272px;
    }
    &__text {
        font-weight: 600;
        text-shadow: 1px 1px 2px $color-white;
        margin-top: 30px;
    }
    &__image {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
    &__technologies {
        margin-top: 30px;
    }
    &__subtitle {
        font-size: 22px;
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        width: 30%;
        columns: 2;
        margin-top: 20px;
    }
    &__item {
        &::before {
            content: '—';
            font-size: 16px;
            padding-right: 5px;
        }
    }
}
.portfolio {
    background: #E9EAEC;
    padding: 100px 0 100px 0;
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-left: -36px;
        margin-right: -36px;
    }
    &__link {
        box-shadow: 0 0 14px #dcdcdc;
        margin: 0 36px 36px;
        transition: box-shadow .3s ease;
        &:hover {
            box-shadow: 0 0 7px $color-main;
        }
    }
    &__image {
        // position: relative;
        display: block;
        // &::before {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba(160, 134, 135, .5);
        // }
    }
    &__button {
        display: block;
        font-size: 18px;
        color: $color-main;
        background: $color-white;
        border: 2px solid $color-main;
        padding: 8px 30px;
        margin: 20px auto 0;
    }
}