* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  outline: none;
}

body {
  margin: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .icons_link {
  position: relative;
  z-index: 100;
}

.nav .icons_link:hover {
  -webkit-filter: drop-shadow(0 0 3px #FFD8B5);
          filter: drop-shadow(0 0 3px #FFD8B5);
}

.nav .icons .search {
  margin-right: 29px;
}

.nav .icons .search_input {
  position: absolute;
  width: 280px;
  height: 35px;
  border: 1px solid rgba(30, 34, 64, 0.35);
  padding: 0 20px;
  margin-top: -7px;
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
  z-index: 9;
}

.nav .icons .search_input_active {
  -webkit-animation: move .5s forwards;
          animation: move .5s forwards;
}

@-webkit-keyframes move {
  from {
    width: 0;
  }
  to {
    width: 280px;
  }
}

@keyframes move {
  from {
    width: 0;
  }
  to {
    width: 280px;
  }
}

.nav .icons .search_input_no-active {
  -webkit-animation: rever .5s forwards;
          animation: rever .5s forwards;
}

@-webkit-keyframes rever {
  from {
    width: 280px;
  }
  to {
    width: 20px;
  }
}

@keyframes rever {
  from {
    width: 280px;
  }
  to {
    width: 20px;
  }
}

.logo {
  font-weight: 900;
  font-size: 1.9em;
  line-height: 2.2em;
  text-decoration: none;
  color: #343967;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  list-style-type: none;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #343967;
}

.menu_link {
  text-decoration: none;
}

.menu_link:hover {
  color: #FFBCBC;
}

.hamburger {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
  margin-left: 50px;
}

.header .background {
  position: relative;
  width: 505px;
  height: 702px;
  background: url("../img/main.png") center center/cover no-repeat;
  -webkit-filter: sepia(20%);
          filter: sepia(20%);
}

.header .triangle {
  position: absolute;
  margin-top: -100px;
  z-index: 9;
}

.header .circle {
  position: absolute;
  z-index: 9;
}

.header_text {
  margin: 311px 0 0 167px;
  z-index: 10;
}

.header_text .data {
  display: block;
  font-weight: 500;
  line-height: 108.5%;
  letter-spacing: 0.2em;
  color: #1E2240;
  margin-top: 25px;
}

.header_text .brand-items {
  width: 330px;
  height: 50px;
  background: url("../icon/hashtag.png") left no-repeat;
  border-bottom: 1px solid #BFBEBE;
  padding: 15px 0;
  margin: 30px 0 43px 0;
}

.header_text .brand-items_text {
  font-weight: 500;
  line-height: 108.5%;
  letter-spacing: 0.05em;
  color: #1E2240;
  text-decoration: none;
  margin-left: 50px;
}

.header_text .brand-items_text::after {
  content: "\276F";
  margin-left: 89px;
}

.header_text .brand-items_text:hover {
  color: #5364FE;
}

.header_text .visit-store {
  font-size: 0.9em;
  line-height: 108.5%;
  letter-spacing: 0.24em;
  font-weight: bold;
  text-decoration: none;
  color: #1E2240;
}

.header_text .visit-store:hover {
  -webkit-text-decoration: underline #5364FE;
          text-decoration: underline #5364FE;
}

.header_text .visit-store_span {
  font-size: 0.9em;
  color: #5364FE;
}

.header .circle-bg {
  margin: 20% 0 0 30%;
}

.title {
  position: absolute;
  font-weight: 900;
  font-size: 4.4rem;
  line-height: 108.5%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333973;
  margin-left: 5.3em;
  z-index: 10;
}

.title-accent {
  color: #FFD8B5;
  margin-left: 0;
}

.title_h2 {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0;
  margin-left: 0;
}

.title_h2-accent {
  letter-spacing: 0;
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 150.5%;
  letter-spacing: 0.05em;
  color: #343967;
  margin-top: 32px;
}

.btn {
  width: 229px;
  height: 49px;
  border: none;
  background: #FFD8B5;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 108.5%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1E2240;
  cursor: pointer;
}

.btn:hover {
  background: #FFBCBC;
}

.btn-map {
  margin-top: 30px;
}

.new-items {
  margin-top: 81px;
}

.new-items .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-top: 63px;
}

.new-items .items_text {
  width: 400px;
  margin: 10% 0 0 25%;
}

.new-items .items_text-subtitle {
  font-size: 1.5em;
  color: #343967;
}

.new-items .items_text-descr {
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  color: #343967;
}

.new-items .items_text-btn {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1E2240;
  margin-top: 40px;
}

.new-items .items_text .price {
  font-weight: 800;
  font-size: 1.5rem;
  color: #343967;
  margin-left: 70px;
}

.new-items .items_img {
  width: 100%;
}

.new-items .items_count {
  color: rgba(31, 35, 71, 0.29);
  text-align: end;
  margin: -5% 10% 0 0;
  cursor: default;
}

.new-items .items_count-text {
  font-weight: bold;
  font-size: 4.5em;
}

.new-items .items_count-prev {
  cursor: pointer;
}

.new-items .items_count-next {
  cursor: pointer;
}

.new-items .items_next-page {
  display: none;
}

.catalog {
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 89px 118px 0 118px;
}

.catalog .item:hover {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
  cursor: pointer;
}

.catalog .item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: photo1;
  background: url("../img/catalog1.jpg") no-repeat;
  background-size: 183%;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 20px 28px;
}

.catalog .item-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: photo2;
  background: url("../img/catalog2.jpg") no-repeat;
  background-size: 100%;
  background-position: 50% 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 20px 28px;
}

.catalog .item-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: photo3;
  background: url("../img/catalog3.1.jpg") no-repeat;
  background-size: 100%;
  background-position: 50% 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 20px 28px;
}

.catalog .item-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: photo4;
  background: url("../img/catalog4.1.jpg") no-repeat;
  background-size: 100%;
  background-position: 50% 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 20px 28px;
}

.catalog-grid {
  width: 100%;
  height: 554px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
      grid-template-areas: "photo1 photo2 photo2" "photo1 photo3 photo4";
}

.our-company {
  margin-top: 96px;
}

.our-company_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 0 217px 0 217px;
}

.our-company_items .item {
  width: 25%;
}

.our-company_items .item .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 63px auto 41px auto;
}

.our-company_items .item .circle-1 {
  background: url("../img/our_company1.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 155%;
}

.our-company_items .item .circle-2 {
  background: url("../img/our_company2.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 155%;
}

.our-company_items .item .circle-3 {
  background: url("../img/our_company3.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 155%;
}

.our-company_items .item .circle-4 {
  background: url("../img/our_company4.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 155%;
}

.our-company_items .item .text {
  font-weight: bold;
  font-size: 1.5em;
  color: #343967;
}

.contact {
  margin-top: 72px;
}

.contact-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 64px;
}

.contact-inner .map {
  margin-right: 5%;
}

.contact-inner .form {
  width: 550px;
}

.contact-inner .input {
  width: 100%;
  height: 73px;
  border: 1px solid rgba(30, 34, 64, 0.35);
  padding: 0 20px;
  margin-top: 20px;
}

.contact-inner .input-text {
  position: absolute;
  display: inline-block;
  letter-spacing: 0.05em;
  color: #343967;
  background: #fff;
  padding: 0 3px;
  margin-left: 20px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #383838;
  padding: 28px 48px;
  margin-top: 72px;
}

.footer-logo {
  color: #5465FF;
}

.footer .copyright {
  display: block;
  text-decoration: none;
  font-size: 0.7rem;
  line-height: 0.9rem;
  letter-spacing: 0.04em;
  color: #737373;
}

.footer-menu {
  margin-top: 25px;
}

.footer-menu_link {
  font-size: 0.8rem;
  color: #fff;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.footer .social_item {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.footer .social_item-fb {
  background: #fff url("../icon/facebook.png") center no-repeat;
  margin-right: 57px;
}

.footer .social_item-fb:hover {
  background-color: #FFBCBC;
}

.footer .social_item-google {
  background: #fff url("../icon/google+.png") center no-repeat;
  margin-right: 57px;
}

.footer .social_item-google:hover {
  background-color: #FFBCBC;
}

.footer .social_item-inst {
  background: #fff url("../icon/instagram.png") center no-repeat;
}

.footer .social_item-inst:hover {
  background-color: #FFBCBC;
}

@media (min-width: 1201px) and (max-width: 1500px) {
  .title {
    font-size: 4.2rem;
  }
  .title_h2 {
    font-size: 2.3rem;
  }
  .title_h2-accent {
    font-size: 2.3rem;
  }
  .header .circle-bg {
    margin-left: 6%;
  }
  .new-items .items_count {
    margin: 0 5% 0 0;
  }
  .catalog .item-1 {
    background-size: 239%;
  }
  .catalog .item-3 {
    background-size: 137%;
  }
  .our-company_items .item .text {
    font-size: 1.3rem;
  }
  .contact-inner .map {
    margin-right: 2%;
  }
  .contact-inner .input {
    width: 95%;
  }
}

@media (max-width: 1200px) {
  .menu {
    width: 60%;
  }
  .header .background {
    width: 485px;
    height: 688px;
  }
  .title {
    font-size: 3.4rem;
  }
  .title_h2 {
    font-size: 1.8rem;
  }
  .title_h2-accent {
    font-size: 1.8rem;
  }
  .header_text {
    margin: 280px 0 0 70px;
  }
  .new-items .items_text {
    margin: 0 0 0 20%;
  }
  .new-items .items_text-descr {
    width: 80%;
    font-size: 0.9rem;
  }
  .new-items .items_text .price {
    margin-left: 30px;
  }
  .new-items .items_count-text {
    font-size: 4.3em;
  }
  .catalog {
    padding-top: 0;
  }
  .catalog .item-1 {
    background-size: 306%;
  }
  .catalog .item-3 {
    background-size: 175%;
  }
  .catalog .item-4 {
    background-size: 117%;
  }
  .our-company_items .item .circle {
    width: 120px;
    height: 120px;
  }
  .our-company_items .item .text {
    font-size: 1em;
  }
  .contact-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .contact-inner .map {
    margin: 0 auto;
  }
  .contact-inner .form {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_link {
    font-size: 0.8em;
  }
  .header .background {
    width: 285px;
    height: 488px;
  }
  .header .circle {
    width: 500px;
    height: 500px;
  }
  .title {
    font-size: 2.4rem;
    margin-left: 4em;
  }
  .title-accent {
    margin-left: 0;
  }
  .title_h2 {
    font-size: 1.8rem;
    margin-left: 0;
  }
  .title_h2-accent {
    font-size: 1.8rem;
  }
  .header_text {
    margin: 170px 0 0 50px;
  }
  .header_text .brand-items {
    margin: 10px 0 20px 0;
  }
  .subtitle {
    font-size: 1.1em;
  }
  .new-items .items_text {
    margin-left: 10%;
  }
  .new-items .items_text-subtitle {
    font-size: 1.3em;
  }
  .new-items .items_text-btn {
    width: 200px;
    margin-top: 0;
  }
  .new-items .items_text .price {
    margin-left: 10px;
  }
  .new-items .items_count-text {
    font-size: 3.3em;
  }
  .catalog-grid {
    height: 350px;
  }
  .our-company_items {
    padding: 0 50px;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .logo_wrapper {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu-main {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(52, 57, 103, 0.95);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    z-index: 100;
  }
  .menu-main_active {
    left: 0;
  }
  .menu-main_item {
    padding-right: 0;
    border: none;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu-main_link {
    font-size: 20px;
    display: block;
    color: #fff;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 20%;
    left: 50px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 22px;
    height: 12px;
    z-index: 100;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #343967;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    background-color: #fff;
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .header .background {
    width: 250px;
  }
  .header_text {
    margin-left: 30px;
  }
  .header_text .brand-items {
    width: 220px;
    background-size: 10%;
  }
  .header_text .brand-items_text {
    font-size: 0.9em;
    margin-left: 30px;
  }
  .header_text .brand-items_text::after {
    margin-left: 20px;
  }
  .title {
    font-size: 2.2rem;
    margin-left: 3em;
  }
  .title-accent {
    margin-left: 0;
  }
  .title_h2 {
    font-size: 1.8rem;
    margin-left: 0;
  }
  .title_h2-accent {
    font-size: 1.8rem;
  }
  .new-items {
    margin-top: 40px;
  }
  .new-items .items {
    -ms-grid-rows: 0.7fr 0.7fr 0.7fr 0.7fr;
        grid-template-rows: 0.7fr 0.7fr 0.7fr 0.7fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .new-items .items .cell1 {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .new-items .items .cell2 {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .new-items .items .cell3 {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .new-items .items .cell4 {
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .new-items .items_text {
    margin: 0 auto;
  }
  .new-items .items_text-descr {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .new-items .items .price {
    margin-left: 50px;
  }
  .catalog {
    padding: 0 50px;
  }
  .our-company {
    margin-top: 40px;
  }
  .our-company_items .item .circle {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .our-company_items .item .text {
    font-size: 0.9em;
  }
  .contact {
    margin-top: 40px;
  }
  .contact-inner .map iframe {
    width: 500px;
  }
  .contact-inner .form {
    width: 500px;
  }
  .footer {
    padding: 28px 0;
  }
  .footer .menu {
    width: 70%;
  }
}

@media (min-width: 576px) {
  .hamburger {
    top: 15%;
  }
}
/*# sourceMappingURL=style.css.map */