* {
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 150px;
}

nav {
  width: 100%;
  height: 44px;
  background-color: #4CB1CA;
}

nav .menu {
  list-style-type: none;
  color: #BEF2FF;
  font-size: 13px;
  line-height: 13px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .menu_choice {
  padding-right: 32px;
}

nav .menu_choice_lunge {
  padding-left: 5px;
  font-weight: 700;
}

nav .menu_2 {
  list-style-type: none;
  color: #BEF2FF;
  font-size: 13px;
  line-height: 13px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .menu_2_item {
  border-right: 1px solid;
  border-color: #BEF2FF;
  padding: 0 12px;
}

nav .menu_2_item:last-child {
  border-right: none;
}

nav .menu_2_link {
  color: #BEF2FF;
  font-weight: 700;
}

.subheader {
  top: 60px;
  height: 110px;
  background-color: white;
}

.subheader_logo {
  display: block;
  margin-top: 40px;
}

.subheader_menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 45px;
  padding-left: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-left: -60px;
  line-height: 14px;
}

.subheader_menu_link {
  color: #656565;
  padding-right: 24px;
}

.subheader_search {
  margin-top: 38px;
  margin-left: 20px;
  width: 175px;
  height: 30px;
  font-size: 13px;
  color: #B7B7B7;
  border-width: 1px;
  border-color: #DDDDDD;
  padding-left: 11px;
}

.subheader .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
  margin-left: 13px;
}

.subheader .basket_circle {
  width: 36px;
  height: 36px;
  background-color: #7DB122;
  border-radius: 100%;
  margin-right: 3px;
  border: none;
}

.subheader .basket_circle:focus {
  background-color: #638b1d;
  outline: 0;
}

.subheader .basket_circle .icon {
  color: #FFFFFF;
  font-size: 18px;
}

.subheader .basket_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #656565;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 7px 0 0 7px;
}

.subheader .basket_text_numeral {
  margin-left: 7px;
}

.slider {
  height: 475px;
  background: url(../img/main_bg.jpg) center center/cover no-repeat;
}

.slider_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider_content .circle1 {
  width: 68px;
  height: 68px;
  background-color: #FFFFFF;
  border-radius: 100%;
  margin-top: 202px;
  border: none;
}

.slider_content .circle1 .icon {
  color: #CDCDCD;
  font-size: 55px;
  margin-right: 5px;
}

.slider_content .circle2 {
  width: 68px;
  height: 68px;
  background-color: #FFFFFF;
  border-radius: 100%;
  border: none;
  margin-top: 202px;
}

.slider_content .circle2 .icon {
  color: #CDCDCD;
  font-size: 55px;
  margin-left: 5px;
}

.slider_content .text {
  font-size: 20px;
  color: #FFFFFF;
  margin: 184px 646px 0 48px;
}

.slider_content .text_header {
  width: 285px;
  height: 47px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: 300;
  padding-left: 5px;
}

.slider_content .text_subheader {
  width: 329px;
  height: 47px;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-top: 3px;
  padding-left: 5px;
}

.shop {
  min-height: 2000px;
  background-color: white;
  font-size: 14px;
}

.shop .title {
  font-size: 24px;
  line-height: 24px;
  color: #635F57;
  text-transform: uppercase;
  margin-top: 47px;
  font-weight: normal;
}

.shop .col-md-3 {
  max-width: 100%;
}

.shop_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 234px;
  height: 319px;
  background-color: #FFFFFF;
  border-width: 10px 10px 85px 10px;
  border-color: #EFF1F0;
  border-style: solid;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 26px;
}

.shop_product .img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.shop_product .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop_product .text_descr {
  color: #464148;
  margin-top: 242px;
  margin-bottom: 0px;
}

.shop_product .text_descr_price {
  color: #7DB122;
  font-size: 20px;
}

.shop_product .text_descr_basket {
  width: 55px;
  height: 55px;
  background-color: #7DB122;
  border-radius: 100%;
  border: none;
  margin-top: 238px;
  margin-left: 8px;
  outline: none;
}

.shop_product .text_descr_basket:hover {
  background-color: #638B1D;
}

.shop_product .text_descr_basket .icon {
  color: #FFFFFF;
  font-size: 25px;
}

.shop .side {
  position: relative;
  width: 234px;
  height: 444px;
  margin-top: -25px;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.shop .side_top {
  width: 234px;
  height: 4px;
  background-color: #4CB1CA;
}

.shop .side_header {
  font-size: 24px;
  color: #635F57;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  line-height: 28px;
}

.shop .side_img {
  position: absolute;
  width: 204px;
  height: 355px;
  background: url(../img/woman.jpg) center center/200% no-repeat;
  background-position: top;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: -20px;
}

.shop .side_btn {
  position: absolute;
  width: 133px;
  height: 45px;
  background-color: #4CB1CA;
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 275px;
}

.shop .side_btn:hover {
  background-color: #39A0B9;
}

.shop .side_switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 234px;
  height: 42px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  margin-top: 363px;
  padding-left: 9px;
}

.shop .side_switch_circle {
  width: 12px;
  height: 12px;
  background-color: #7DB122;
  border-radius: 100%;
  margin-right: 9px;
  border: none;
}

.shop .side_switch_circle:focus {
  background-color: #4CB1CA;
  outline: 0;
}

.shop .side2 {
  height: 282px;
  margin-top: 72px;
}

.shop .side2_descr {
  font-size: 14px;
  color: #696969;
  text-align: center;
}

.shop .side2_line {
  width: 86px;
  height: 2px;
  background-color: #EDEDED;
  margin: 10px 74px;
}

.shop .side2_field {
  width: 186px;
  height: 30px;
  border-color: #EDEDED;
  border-width: 1px;
  margin: 3px 24px;
}

.shop .side2_btn {
  width: 113px;
  height: 45px;
  background-color: #7EB123;
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  margin: 17px 60px 28px 61px;
}

.shop .side2_btn:hover {
  background-color: #638B1D;
  outline: none;
}

.contacts {
  min-height: 106px;
  background-color: #4CB1CA;
  font-size: 21px;
}

.contacts_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.contacts_info .circle {
  text-align: center;
  width: 66px;
  height: 66px;
  background-color: #FFFFFF;
  border-radius: 100%;
  margin-right: 20px;
}

.contacts_info .circle .icon {
  display: inline-block;
  color: #39A0B9;
  font-size: 35px;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.contacts_info .text {
  font-size: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 10px;
}

.info {
  min-height: 333px;
  background-color: #39A0B9;
  color: #F5F5F5;
}

.info_title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 51px;
}

.info_text {
  font-size: 13px;
}

.info_img {
  margin-top: -35px;
}

.info_line {
  width: 98%;
  height: 2px;
  background-color: #4CB1CA;
  margin: 0 auto;
}

.info_line2 {
  margin: 0;
}

.info_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_user .photo {
  width: 50px;
  height: 50px;
  margin: 7px 6px 9px 6px;
}

.info_user .photo_1 {
  background: url(../img/photo1.jpg) center center/cover no-repeat;
}

.info_user .photo_2 {
  background: url(../img/photo2.jpg) center center/cover no-repeat;
}

.info_user .photo_3 {
  background: url(../img/photo3.jpg) center center/cover no-repeat;
}

.info_user .photo_4 {
  background: url(../img/photo4.jpg) center center/cover no-repeat;
}

.info_user .photo_5 {
  background: url(../img/photo4.jpg) center center/cover no-repeat;
}

.info_user .photo_6 {
  background: url(../img/photo3.jpg) center center/cover no-repeat;
}

.info_user .photo_7 {
  background: url(../img/photo2.jpg) center center/cover no-repeat;
}

.info_user .photo_8 {
  background: url(../img/photo1.jpg) center center/cover no-repeat;
}

.info_twitter {
  margin-top: 27px;
  margin-right: 10px;
}

.info_twitter .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info_twitter .block_circle {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 13px;
  border: none;
}

.info_twitter .block_circle .icon {
  color: #39A0B9;
  font-size: 22px;
  margin-left: 5px;
}

.info_twitter .block_text {
  width: 165px;
}

.info_twitter .block_text_selection {
  color: #7BCCE0;
}

.info_twitter .block2 {
  margin-top: 31px;
}

.info_list {
  list-style-type: none;
  margin-top: 35px;
  line-height: 26px;
}

.info_list .icon {
  margin-right: 5px;
}

.info_contact_contacts {
  list-style-type: none;
}

.info_contact_sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info_contact_sm .circle {
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 100%;
  margin: 17px 9px 0 0;
  border: none;
}

.info_contact_sm .circle .icon {
  color: #39A0B9;
}

.end {
  height: 65px;
  background-color: #0B4B5A;
  font-size: 13px;
  color: #8ADCF0;
}

.end_copy {
  margin-top: 25px;
}

.end_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  margin-top: 25px;
}

.end_menu_item {
  border-right: 1px solid;
  border-color: #8ADCF0;
  padding: 0 12px;
  line-height: 13px;
}

.end_menu_item:last-child {
  border-right: none;
}

.end_menu_link {
  color: #8ADCF0;
}

.end_menu_link:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1200px) {
  .info .photo {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 991px) {
  .subheader_logo {
    width: 80%;
    margin-top: 20px;
  }
  .subheader_menu {
    margin-top: 75px;
    -webkit-transform: translateX(-44%);
            transform: translateX(-44%);
  }
  .subheader_search {
    margin-top: 20px;
    -webkit-transform: translateX(-55%);
            transform: translateX(-55%);
  }
  .subheader .basket {
    margin-top: -35px;
    margin-left: 125px;
  }
  .slider_content .text {
    margin: 184px 300px 0 48px;
  }
  .shop .aside {
    width: 180px;
    height: 250px;
  }
  .contacts {
    margin-top: 20px;
    padding-bottom: 5px;
  }
  .contacts .text {
    font-size: 14px;
  }
  .info_title {
    margin-top: 30px;
  }
  .info_text {
    font-size: 12px;
  }
  .info .photo {
    width: 32px;
    height: 32px;
    margin: 7px 5px 5px 0;
  }
  .info .plugin {
    font-size: 13px;
  }
  .info_twitter {
    margin: 20px 5px 0 5px;
  }
  .info_twitter .block_circle {
    width: 0;
    height: 0;
    margin: 0;
  }
  .info_twitter_sm .circle {
    width: 30px;
    height: 30px;
    margin: 10px 5px 0 0;
  }
  .end {
    font-size: 11px;
  }
  .end_menu_item {
    padding: 0 4px;
  }
  .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .navi .menu_2 {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .navi .menu_2_active {
    left: 0;
  }
  .navi .menu_2_item {
    padding-right: 0;
    border: none;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .navi .menu_2_link {
    font-size: 20px;
    display: block;
  }
  .navi .hamburger {
    display: block;
    position: absolute;
    right: 65px;
    -webkit-transform: translateY(-220%);
            transform: translateY(-220%);
    width: 26px;
    height: 12px;
  }
  .navi .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .navi .hamburger_active span {
    margin-bottom: -2px;
  }
  .navi .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .navi .hamburger_active span:nth-child(2) {
    display: none;
  }
  .navi .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .navi .xs-hidden {
    display: none;
  }
  .navi .xs-visible {
    display: block;
  }
  .subheader_logo {
    margin-top: 30px;
  }
  .subheader_search {
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%);
  }
  .subheader .basket {
    margin-top: -30px;
    margin-left: 35px;
  }
  .subheader .basket_circle {
    width: 30px;
    height: 30px;
  }
  .subheader .basket_circle .icon {
    font-size: 12px;
  }
  .subheader .basket_text {
    font-size: 12px;
  }
  .slider_content .text {
    margin: 184px 30px 0 48px;
  }
  .banner {
    margin: 95px 0 0 20px;
  }
  .info .photo {
    width: 50px;
    height: 50px;
  }
  .info_twitter {
    margin-left: 70px;
  }
  .info_contact {
    margin-left: 70px;
  }
  .info_contact_sm .circle {
    margin: 10px 5px 10px 0;
  }
  .end_copy {
    margin-top: 10px;
  }
  .end_menu {
    margin: 8px 0 0 0;
  }
}

@media (max-width: 575px) {
  .navi .menu {
    margin-left: 30px;
  }
  .subheader_logo {
    width: 20%;
    margin-left: 20px;
  }
  .subheader_menu {
    margin-top: 35px;
    -webkit-transform: translateX(13%);
            transform: translateX(13%);
  }
  .subheader_search {
    margin-top: -87px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .subheader .basket {
    margin-top: -87px;
    margin-left: 195px;
  }
  .slider_content .circle1 {
    width: 58px;
    height: 58px;
    margin-left: 20px;
  }
  .slider_content .circle2 {
    width: 58px;
    height: 58px;
  }
  .slider_content .text {
    font-size: 16px;
    margin: 184px 20px 0 20px;
  }
  .shop {
    margin: 47px 0 20px 25px;
  }
  .shop .side2 {
    height: 300px;
  }
  .contacts_info {
    margin-left: 70px;
  }
  .info_facebook {
    margin-left: 70px;
  }
  .info_user {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .info_user .photo {
    width: 40px;
    height: 40px;
  }
  .info_line {
    width: 70%;
    margin: 0;
  }
  .info_information {
    margin-left: 70px;
  }
  .end_copy {
    margin-left: 70px;
  }
  .end_menu {
    margin-left: 70px;
  }
}
/*# sourceMappingURL=style.css.map */