.header-menu {
    height: 28;
    background-color: #424242;
    &__list {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }
    &__item {
        list-style-type: none;
        margin-left: 30px;
        a {
            color: #FFFFFF;
            font-size: 16px;
        }
    }
}