.button {
    width: 130px;
    height: 41px;
    background: linear-gradient(to top, #7AB361, #92D673);
    color: #FFFFFF;
    font-size: 19px;
    border: none;
    padding: 0;
    outline: none !important;
    &_sign-in {
        margin: 0 auto;
        margin-bottom: 15px;
        border-radius: 4px;
    }
}