@media screen and (max-width: 1459px){
	.container{
		max-width: 1200px;
	}
	
}

@media screen and (max-width: 1680px) and (min-width: 1200px) and (max-height: 840px) {
	
}

@media screen and (max-width: 1680px) and (min-width: 1200px) and (max-height: 749px) {
	
}

@media screen and (max-height: 669px) {
	
}

@media screen and (max-height: 629px) {
	
}

@media screen and (max-width: 1220px){
	.container{
		max-width: 992px;
	}
	
}

@media screen and (max-width: 1012px){
	.container{
		max-width: 768px;
	}
	
}

@media screen and (max-width: 788px){
	.container{
		max-width: 576px;
	}
	
}

@media screen and (max-width: 596px){
	.container{
		max-width: 100%;
		padding: 0 20px;
	}
	
}

@media screen and (max-width: 460px) {
	
}

@media screen and (max-width: 380px) {

}