@charset "UTF-8";
@font-face {
  font-family: "Kurale";
  src: local("Kurale"), url("../fonts/Kurale/Kurale.woff") format("woff"), url("../fonts/Kurale/Kurale.woff2") format("woff2"), url("../fonts/Kurale/Kurale.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Bold"), local("Nunito-Bold"), url("../fonts/Nunito/Nunitobold.woff") format("woff"), url("../fonts/Nunito/Nunitobold.woff2") format("woff2"), url("../fonts/Nunito/Nunitobold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Semi Bold"), local("Nunito-Semi-Bold"), url("../fonts/Nunito/Nunitosemibold.woff") format("woff"), url("../fonts/Nunito/Nunitosemibold.woff2") format("woff2"), url("../fonts/Nunito/Nunitosemibold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Regular"), local("Nunito-Regular"), url("../fonts/Nunito/Nunitoregular.woff") format("woff"), url("../fonts/Nunito/Nunitoregular.woff2") format("woff2"), url("../fonts/Nunito/Nunitoregular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@-webkit-keyframes move_line {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 32px);
  }
}
@keyframes move_line {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 32px);
  }
}
html, body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  position: relative;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

img {
  border: none;
  max-width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}

.main {
  position: relative;
  z-index: 1;
  background: linear-gradient(270.09deg, #E9EAEC 0.08%, #D5D9DA 99.14%);
  background: url("../image/main-bg.jpg") center/cover no-repeat;
}
.main__background {
  opacity: 0.8;
}
.main__info {
  text-align: center;
  padding: 200px 0 100px 0;
}
.main__name {
  display: inline-block;
  font-family: "Kurale", sans-serif;
  font-size: 46px;
  border: 3px #01989B solid;
  background-color: #fff;
  padding: 10px 20px;
  cursor: default;
}
.main__profession {
  color: #000;
  margin-top: 50px;
  cursor: default;
}

.navigation {
  position: absolute;
  z-index: 3;
  width: 100%;
  transform: translateY(-20px);
}

.menu {
  margin: 0 auto;
}
.menu__list {
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.menu__item {
  list-style-type: none;
  background-color: #01989B;
  cursor: pointer;
  border: 1px #F3F3F3 solid;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.menu__item a {
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
}
.menu__item:nth-child(2) {
  border-right: none;
  border-left: none;
}
.menu__item:hover {
  background-color: #178b8d;
}

.section {
  padding: 100px 0 100px 0;
}

.subtitle {
  font-size: 32px;
}

.about {
  font-size: 18px;
  background: rgba(160, 134, 135, 0.17);
}
.about__description {
  position: relative;
}
.about__text-wrapper {
  position: relative;
  z-index: 1;
}
.about__text {
  font-size: 20px;
  text-shadow: 1px 1px 2px #fff;
  background: rgba(239, 235, 235, 0.7);
  margin-top: 30px;
}
.about__text-link {
  color: #01989B;
}
.about__image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.about__technologies {
  position: relative;
  z-index: 1;
  width: 30%;
  background: rgba(239, 235, 235, 0.7);
  margin-top: 30px;
}
.about__subtitle {
  font-size: 22px;
}
.about__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  -moz-columns: 2;
       columns: 2;
  margin-top: 20px;
}
.about__item::before {
  content: "—";
  font-size: 16px;
  padding-right: 5px;
}

.portfolio {
  background: #E9EAEC;
}
.portfolio__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: -36px;
  margin-right: -36px;
}
.portfolio__item {
  position: relative;
  box-shadow: 0 0 1px #b8b7b7;
  margin: 0 33px 33px;
  transition: box-shadow 0.3s ease;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}
.portfolio__item:first-child {
  position: relative;
}
.portfolio__item:first-child::after {
  position: absolute;
  top: -24px;
  right: -40px;
  content: "New";
  width: 70px;
  height: 34px;
  background: #a43d44;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 8px 8px 8px 0;
  padding: 5px 0;
  box-sizing: border-box;
}
.portfolio__image {
  display: block;
}
.portfolio__overlay {
  opacity: 0;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -10px;
  left: -10px;
  background: rgba(239, 235, 235, 0.7);
  box-shadow: 0 0 2px white;
  transition: all 0.3s ease;
}
.portfolio__overlay::before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  content: "";
  border: 2px solid #01989B;
}
.portfolio__open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #01989B;
  border: 2px solid #01989B;
  background: transparent;
  cursor: pointer;
  padding: 8px 30px;
  transition: all 0.3s ease;
}
.portfolio__open:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.portfolio__button {
  display: block;
  display: none;
  font-size: 18px;
  color: #01989B;
  background: #fff;
  border: 2px solid #01989B;
  padding: 8px 30px;
  margin: 20px auto 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.portfolio__button:hover {
  background: #01989B;
  color: #fff;
}

.footer {
  background: url("/src/image/footer-bg.jpg");
  border-top: 10px solid #01989B;
  padding: 70px 0;
}
.footer__content-wrapper {
  width: 50%;
  padding-right: 90px;
  margin-left: auto;
  margin-right: 90px;
}
.social {
  -moz-columns: 2;
       columns: 2;
  margin-top: 30px;
}
.social__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #202221;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  padding-left: 32px;
  margin-right: 46px;
  margin-bottom: 26px;
  transition: all 0.3s ease;
}
.social__link_net_github {
  background-image: url("/src/image/github.svg");
}
.social__link_net_whatsapp {
  background-image: url("/src/image/whatsapp.svg");
}
.social__link_net_instagram {
  background-image: url("/src/image/instagram.svg");
}
.social__link_net_vk {
  background-image: url("/src/image/vk-com.svg");
}
.social__link:hover::after {
  position: absolute;
  bottom: 0;
  left: 32px;
  content: "";
  width: calc(100% - 32px);
  height: 1px;
  background-color: #202221;
  -webkit-animation: move_line 0.3s linear;
          animation: move_line 0.3s linear;
}

.active {
  display: block;
}

@media screen and (max-width: 1499px) {
  .container {
    max-width: 1060px;
  }

  .footer__content-wrapper {
    padding-right: 0;
  }
}
@media screen and (max-width: 1199px) {
  .about__image {
    width: 540px;
  }

  .about__technologies {
    width: 40%;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 840px;
  }

  .main__name {
    font-size: 36px;
  }

  .main__info {
    padding: 140px 0 60px 0;
  }

  .about__image {
    width: 440px;
  }

  .footer {
    background: #F3F3F5;
    padding: 40px 0;
  }
  .footer__content-wrapper {
    width: auto;
    padding-right: 0;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .main {
    background: url("../image/main-bg-mobile.jpg") center/cover no-repeat;
  }

  .section {
    padding: 80px 0 80px 0;
  }

  .subtitle {
    text-align: center;
  }

  .about__technologies {
    width: 50%;
  }

  .portfolio__list {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .main__info {
    padding: 100px 0 40px 0;
  }
  .main__name {
    font-size: 28px;
  }
  .main__profession {
    font-size: 20px;
    margin-top: 30px;
  }

  .menu__item {
    padding: 10px 30px;
  }

  .section {
    padding: 60px 0 40px 0;
  }

  .subtitle {
    font-size: 26px;
  }

  .about__image {
    display: none;
  }
  .about__technologies {
    width: auto;
  }

  .social {
    -moz-columns: 1;
         columns: 1;
    text-align: center;
  }
  .social__link {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 440px) {
  .main__name {
    font-size: 24px;
    border: 2px #01989B solid;
    padding: 10px 10px;
  }
  .main__profession {
    font-size: 18px;
    margin-top: 20px;
  }
  .main__info {
    padding: 60px 0 20px 0;
  }

  .menu__list {
    display: block;
    text-align: center;
  }

  .about__text {
    font-size: 16px;
  }

  .portfolio__item:first-child::after {
    right: -20px;
  }
}/*# sourceMappingURL=style.css.map */