.not-selectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel *, .carousel *:before, .carousel *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.carousel.is-draggable {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.carousel.is-dragging {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.carousel__viewport {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.carousel__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__slide {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: var(--carousel-slide-width, 60%);
  max-width: 100%;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}

.carousel__dots {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel__dots .carousel__dot {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.carousel__dots .carousel__dot:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: currentColor;
  opacity: .25;
  -webkit-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.carousel__dots .carousel__dot.is-selected:after {
  opacity: 1;
}

.carousel__button {
  width: var(--carousel-button-width, 48px);
  height: var(--carousel-button-height, 48px);
  padding: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  color: var(--carousel-button-color, currentColor);
  background: var(--carousel-button-bg, transparent);
  border-radius: var(--carousel-button-border-radius, 50%);
  -webkit-box-shadow: var(--carousel-button-shadow, none);
  box-shadow: var(--carousel-button-shadow, none);
  -webkit-transition: opacity .15s ease;
  -o-transition: opacity .15s ease;
  transition: opacity .15s ease;
}

.carousel__button.is-prev, .carousel__button.is-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel__button.is-prev {
  left: 10px;
}

.carousel__button.is-next {
  right: 10px;
}

.carousel__button[disabled] {
  cursor: default;
  opacity: .3;
}

.carousel__button svg {
  width: var(--carousel-button-svg-width, 50%);
  height: var(--carousel-button-svg-height, 50%);
  fill: none;
  stroke: currentColor;
  stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
  stroke-linejoin: bevel;
  stroke-linecap: round;
  -webkit-filter: var(--carousel-button-svg-filter, none);
  filter: var(--carousel-button-svg-filter, none);
  pointer-events: none;
}

html.with-fancybox {
  scroll-behavior: auto;
}

body.compensate-for-scrollbar {
  overflow: hidden !important;
  -ms-touch-action: none;
  touch-action: none;
}

.fancybox__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  direction: ltr;
  margin: 0;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--fancybox-color, #fff);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  z-index: 1050;
  outline: none;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  --carousel-button-width: 48px;
  --carousel-button-height: 48px;
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
  --carousel-button-svg-stroke-width: 2.5;
  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

.fancybox__container *, .fancybox__container *::before, .fancybox__container *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.fancybox__container :focus {
  outline: none;
}

body:not(.is-using-mouse) .fancybox__container :focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
}

@media all and (min-width: 1024px) {
  .fancybox__container {
    --carousel-button-width:48px;
    --carousel-button-height:48px;
    --carousel-button-svg-width:27px;
    --carousel-button-svg-height:27px;
  }
}

.fancybox__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--fancybox-bg, rgba(24, 24, 27, 0.92));
}

.fancybox__carousel {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  z-index: 10;
}

.fancybox__carousel.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}

.fancybox__viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  cursor: default;
}

.fancybox__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.fancybox__slide {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 48px 8px 8px 8px;
  position: relative;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  outline: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  --carousel-button-width: 36px;
  --carousel-button-height: 36px;
  --carousel-button-svg-width: 22px;
  --carousel-button-svg-height: 22px;
}

.fancybox__slide::before, .fancybox__slide::after {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 0px;
  flex: 0 0 0;
  margin: auto;
}

@media all and (min-width: 1024px) {
  .fancybox__slide {
    padding: 64px 100px;
  }
}

.fancybox__content {
  margin: 0 env(safe-area-inset-right, 0px) 0 env(safe-area-inset-left, 0px);
  padding: 36px;
  color: var(--fancybox-content-color, #374151);
  background: var(--fancybox-content-bg, #fff);
  position: relative;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 20;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: thin dotted;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fancybox__caption {
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 100%;
  margin: 0;
  padding: 1rem 0 0 0;
  line-height: 1.375;
  color: var(--fancybox-color, currentColor);
  visibility: visible;
  cursor: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow-wrap: anywhere;
}

.is-loading .fancybox__caption {
  visibility: hidden;
}

.fancybox__container > .carousel__dots {
  top: 100%;
  color: var(--fancybox-color, #fff);
}

.fancybox__nav .carousel__button {
  z-index: 40;
}

.fancybox__nav .carousel__button.is-next {
  right: 8px;
}

@media all and (min-width: 1024px) {
  .fancybox__nav .carousel__button.is-next {
    right: 40px;
  }
}

.fancybox__nav .carousel__button.is-prev {
  left: 8px;
}

@media all and (min-width: 1024px) {
  .fancybox__nav .carousel__button.is-prev {
    left: 40px;
  }
}

.carousel__button.is-close {
  position: absolute;
  top: 8px;
  right: 8px;
  top: calc(env(safe-area-inset-top, 0px) + 8px);
  right: calc(env(safe-area-inset-right, 0px) + 8px);
  z-index: 40;
}

@media all and (min-width: 1024px) {
  .carousel__button.is-close {
    right: 40px;
  }
}

.fancybox__content > .carousel__button.is-close {
  position: absolute;
  top: -40px;
  right: 0;
  color: var(--fancybox-color, #fff);
}

.fancybox__no-click, .fancybox__no-click button {
  pointer-events: none;
}

.fancybox__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  color: var(--fancybox-color, currentColor);
}

.fancybox__slide .fancybox__spinner {
  cursor: pointer;
  z-index: 1053;
}

.fancybox__spinner svg {
  -webkit-animation: fancybox-rotate 2s linear infinite;
  animation: fancybox-rotate 2s linear infinite;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.fancybox__spinner svg circle {
  fill: none;
  stroke-width: 2.75;
  stroke-miterlimit: 10;
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: fancybox-dash 1.5s ease-in-out infinite;
  animation: fancybox-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: currentColor;
}

@-webkit-keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fancybox-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}

@keyframes fancybox-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}

.fancybox__backdrop, .fancybox__caption, .fancybox__nav, .carousel__dots, .carousel__button.is-close {
  opacity: var(--fancybox-opacity, 1);
}

.fancybox__container.is-animated[aria-hidden=false] .fancybox__backdrop, .fancybox__container.is-animated[aria-hidden=false] .fancybox__caption, .fancybox__container.is-animated[aria-hidden=false] .fancybox__nav, .fancybox__container.is-animated[aria-hidden=false] .carousel__dots, .fancybox__container.is-animated[aria-hidden=false] .carousel__button.is-close {
  -webkit-animation: .15s ease backwards fancybox-fadeIn;
  animation: .15s ease backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__backdrop, .fancybox__container.is-animated.is-closing .fancybox__caption, .fancybox__container.is-animated.is-closing .fancybox__nav, .fancybox__container.is-animated.is-closing .carousel__dots, .fancybox__container.is-animated.is-closing .carousel__button.is-close {
  -webkit-animation: .15s ease both fancybox-fadeOut;
  animation: .15s ease both fancybox-fadeOut;
}

.fancybox-fadeIn {
  -webkit-animation: .15s ease both fancybox-fadeIn;
  animation: .15s ease both fancybox-fadeIn;
}

.fancybox-fadeOut {
  -webkit-animation: .1s ease both fancybox-fadeOut;
  animation: .1s ease both fancybox-fadeOut;
}

.fancybox-zoomInUp {
  -webkit-animation: .2s ease both fancybox-zoomInUp;
  animation: .2s ease both fancybox-zoomInUp;
}

.fancybox-zoomOutDown {
  -webkit-animation: .15s ease both fancybox-zoomOutDown;
  animation: .15s ease both fancybox-zoomOutDown;
}

.fancybox-throwOutUp {
  -webkit-animation: .15s ease both fancybox-throwOutUp;
  animation: .15s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  -webkit-animation: .15s ease both fancybox-throwOutDown;
  animation: .15s ease both fancybox-throwOutDown;
}

@-webkit-keyframes fancybox-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fancybox-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fancybox-fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fancybox-fadeOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fancybox-zoomInUp {
  from {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fancybox-zoomInUp {
  from {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fancybox-zoomOutDown {
  to {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
}

@keyframes fancybox-zoomOutDown {
  to {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fancybox-throwOutUp {
  to {
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
}

@keyframes fancybox-throwOutUp {
  to {
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fancybox-throwOutDown {
  to {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
}

@keyframes fancybox-throwOutDown {
  to {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
}

.fancybox__carousel .carousel__slide {
  scrollbar-width: thin;
  scrollbar-color: #ccc rgba(255, 255, 255, 0.1);
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.fancybox__carousel.is-draggable .fancybox__slide, .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox__carousel.is-dragging .fancybox__slide, .fancybox__carousel.is-dragging .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox__carousel .fancybox__slide .fancybox__content {
  cursor: auto;
}

.fancybox__carousel .fancybox__slide.can-zoom_in .fancybox__content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox__carousel .fancybox__slide.can-zoom_out .fancybox__content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.fancybox__carousel .fancybox__slide.is-draggable .fancybox__content {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox__carousel .fancybox__slide.is-dragging .fancybox__content {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox__image {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.has-image .fancybox__content {
  padding: 0;
  background: transparent;
  min-height: 1px;
}

.is-closing .has-image .fancybox__content {
  overflow: visible;
}

.has-image[data-image-fit=contain] {
  overflow: visible;
  -ms-touch-action: none;
  touch-action: none;
}

.has-image[data-image-fit=contain] .fancybox__content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.has-image[data-image-fit=contain] .fancybox__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.has-image[data-image-fit=contain-w] {
  overflow-x: hidden;
  overflow-y: auto;
}

.has-image[data-image-fit=contain-w] .fancybox__content {
  min-height: auto;
}

.has-image[data-image-fit=contain-w] .fancybox__image {
  max-width: 100%;
  height: auto;
}

.has-image[data-image-fit=cover] {
  overflow: visible;
  -ms-touch-action: none;
  touch-action: none;
}

.has-image[data-image-fit=cover] .fancybox__content {
  width: 100%;
  height: 100%;
}

.has-image[data-image-fit=cover] .fancybox__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content, .fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content, .fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-height: 1px;
  overflow: visible;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content, .fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content {
  width: 100%;
  height: 80%;
}

.fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  width: 960px;
  height: 540px;
  max-width: 100%;
  max-height: 100%;
}

.fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content, .fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  padding: 0;
  background: rgba(24, 24, 27, 0.9);
  color: #fff;
}

.fancybox__carousel .fancybox__slide.has-map .fancybox__content {
  background: #e5e3df;
}

.fancybox__html5video, .fancybox__iframe {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: transparent;
}

.fancybox-placeholder {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fancybox__thumbs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  padding: 0px 3px;
  opacity: var(--fancybox-opacity, 1);
}

.fancybox__container.is-animated[aria-hidden=false] .fancybox__thumbs {
  -webkit-animation: .15s ease-in backwards fancybox-fadeIn;
  animation: .15s ease-in backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__thumbs {
  opacity: 0;
}

.fancybox__thumbs .carousel__slide {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: var(--fancybox-thumbs-width, 96px);
  margin: 0;
  padding: 8px 3px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: visible;
  cursor: pointer;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: 5px;
  border-style: solid;
  border-color: var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
  opacity: 0;
  -webkit-transition: opacity .15s ease;
  -o-transition: opacity .15s ease;
  transition: opacity .15s ease;
  border-radius: var(--fancybox-thumbs-border-radius, 4px);
}

.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
  opacity: .92;
}

.fancybox__thumbs .carousel__slide > * {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox__thumb {
  position: relative;
  width: 100%;
  padding-top: calc(100%/(var(--fancybox-thumbs-ratio, 1.5)));
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  border-radius: var(--fancybox-thumbs-border-radius, 4px);
}

.fancybox__toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(8.1%, rgba(0, 0, 0, 0.006)), color-stop(15.5%, rgba(0, 0, 0, 0.021)), color-stop(22.5%, rgba(0, 0, 0, 0.046)), color-stop(29%, rgba(0, 0, 0, 0.077)), color-stop(35.3%, rgba(0, 0, 0, 0.114)), color-stop(41.2%, rgba(0, 0, 0, 0.155)), color-stop(47.1%, rgba(0, 0, 0, 0.198)), color-stop(52.9%, rgba(0, 0, 0, 0.242)), color-stop(58.8%, rgba(0, 0, 0, 0.285)), color-stop(64.7%, rgba(0, 0, 0, 0.326)), color-stop(71%, rgba(0, 0, 0, 0.363)), color-stop(77.5%, rgba(0, 0, 0, 0.394)), color-stop(84.5%, rgba(0, 0, 0, 0.419)), color-stop(91.9%, rgba(0, 0, 0, 0.434)), to(rgba(0, 0, 0, 0.44)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.006) 8.1%, rgba(0, 0, 0, 0.021) 15.5%, rgba(0, 0, 0, 0.046) 22.5%, rgba(0, 0, 0, 0.077) 29%, rgba(0, 0, 0, 0.114) 35.3%, rgba(0, 0, 0, 0.155) 41.2%, rgba(0, 0, 0, 0.198) 47.1%, rgba(0, 0, 0, 0.242) 52.9%, rgba(0, 0, 0, 0.285) 58.8%, rgba(0, 0, 0, 0.326) 64.7%, rgba(0, 0, 0, 0.363) 71%, rgba(0, 0, 0, 0.394) 77.5%, rgba(0, 0, 0, 0.419) 84.5%, rgba(0, 0, 0, 0.434) 91.9%, rgba(0, 0, 0, 0.44) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.006) 8.1%, rgba(0, 0, 0, 0.021) 15.5%, rgba(0, 0, 0, 0.046) 22.5%, rgba(0, 0, 0, 0.077) 29%, rgba(0, 0, 0, 0.114) 35.3%, rgba(0, 0, 0, 0.155) 41.2%, rgba(0, 0, 0, 0.198) 47.1%, rgba(0, 0, 0, 0.242) 52.9%, rgba(0, 0, 0, 0.285) 58.8%, rgba(0, 0, 0, 0.326) 64.7%, rgba(0, 0, 0, 0.363) 71%, rgba(0, 0, 0, 0.394) 77.5%, rgba(0, 0, 0, 0.419) 84.5%, rgba(0, 0, 0, 0.434) 91.9%, rgba(0, 0, 0, 0.44) 100%);
  padding: 0;
  -ms-touch-action: none;
  touch-action: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  opacity: var(--fancybox-opacity, 1);
  text-shadow: var(--fancybox-toolbar-text-shadow, 1px 1px 1px rgba(0, 0, 0, 0.4));
}

@media all and (min-width: 1024px) {
  .fancybox__toolbar {
    padding: 8px;
  }
}

.fancybox__container.is-animated[aria-hidden=false] .fancybox__toolbar {
  -webkit-animation: .15s ease-in backwards fancybox-fadeIn;
  animation: .15s ease-in backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__toolbar {
  opacity: 0;
}

.fancybox__toolbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fancybox__toolbar__items--left {
  margin-right: auto;
}

.fancybox__toolbar__items--center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.fancybox__toolbar__items--right {
  margin-left: auto;
}

@media (max-width: 640px) {
  .fancybox__toolbar__items--center:not(:last-child) {
    display: none;
  }
}

.fancybox__counter {
  min-width: 72px;
  padding: 0 10px;
  line-height: var(--carousel-button-height, 48px);
  text-align: center;
  font-size: 17px;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox__progress {
  background: var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  z-index: 30;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox__container:-webkit-full-screen::backdrop {
  opacity: 0;
}

.fancybox__container:-ms-fullscreen::backdrop {
  opacity: 0;
}

.fancybox__container:fullscreen::-webkit-backdrop {
  opacity: 0;
}

.fancybox__container:fullscreen::backdrop {
  opacity: 0;
}

.fancybox__button--fullscreen g:nth-child(2) {
  display: none;
}

.fancybox__container:-webkit-full-screen .fancybox__button--fullscreen g:nth-child(1) {
  display: none;
}

.fancybox__container:-ms-fullscreen .fancybox__button--fullscreen g:nth-child(1) {
  display: none;
}

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(1) {
  display: none;
}

.fancybox__container:-webkit-full-screen .fancybox__button--fullscreen g:nth-child(2) {
  display: block;
}

.fancybox__container:-ms-fullscreen .fancybox__button--fullscreen g:nth-child(2) {
  display: block;
}

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(2) {
  display: block;
}

.fancybox__button--slideshow g:nth-child(2) {
  display: none;
}

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(1) {
  display: none;
}

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(2) {
  display: block;
}

@-webkit-keyframes buttonAnimate {
  0% {
  }
  100% {
  }
}

@keyframes buttonAnimate {
  0% {
  }
  100% {
  }
}

/* Montserrat Regular */
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Bold */
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

/* Mulish SemiBold */
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish/Mulish-SemiBold.eot");
  src: local("Mulish SemiBold"), local("Mulish-SemiBold"), url("../fonts/Mulish/Mulish-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish/Mulish-SemiBold.woff") format("woff"), url("../fonts/Mulish/Mulish-SemiBold.woff") format("woff2"), url("../fonts/Mulish/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Mulish Bold */
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish/Mulish-Bold.eot");
  src: local("Mulish Bold"), local("Mulish-Bold"), url("../fonts/Mulish/Mulish-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mulish/Mulish-Bold.woff") format("woff"), url("../fonts/Mulish/Mulish-Bold.woff") format("woff2"), url("../fonts/Mulish/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 28px 0 20px;
  margin-bottom: 10px;
}

.header__link {
  margin-right: 76px;
}

.header__image {
  display: block;
}

.header__group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: auto;
}

.header__phone {
  margin-right: 32px;
}

.hamburger {
  z-index: 2;
  display: none;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 37px;
  height: 31px;
  padding: 6px;
  cursor: pointer;
}

.hamburger__line {
  height: 3px;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 5px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.hamburger__line:nth-child(1) {
  width: 16px;
}

.hamburger__line:nth-child(2) {
  width: 31px;
}

.hamburger__line:nth-child(3) {
  width: 22px;
  margin-bottom: 0;
}

.hamburger.active .hamburger__line:nth-child(1) {
  width: 31px;
  -webkit-transform: translateY(8px) rotate(-45deg);
  -ms-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
}

.hamburger.active .hamburger__line:nth-child(2) {
  background: transparent;
  opacity: 0;
}

.hamburger.active .hamburger__line:nth-child(3) {
  width: 31px;
  -webkit-transform: translateY(-8px) rotate(45deg);
  -ms-transform: translateY(-8px) rotate(45deg);
  transform: translateY(-8px) rotate(45deg);
}

.hamburger.active .header.mobile .header__menu {
  display: block;
}

.menu {
  margin: 0 -21px;
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu__item {
  margin: 0 21px;
}

.menu__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

.menu__link:hover {
  color: #BFECFF;
}

.menu.open {
  position: absolute;
  top: 108px;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #131313;
  padding: 55px 69px 0;
  margin: 0;
}

.menu__group-wrapper {
  display: none;
}

.button {
  border: none;
  background-color: transparent;
  outline: 0px solid transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  font: inherit;
  border-radius: 0;
  position: relative;
  z-index: 1;
  width: 264px;
  height: 60px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-right: 19px;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  background: #C2AB81;
  z-index: -1;
  -webkit-transform: skew(-17deg);
  -ms-transform: skew(-17deg);
  transform: skew(-17deg);
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 6px;
  height: 100%;
  background-color: #fff;
  -webkit-transform: skew(-17deg);
  -ms-transform: skew(-17deg);
  transform: skew(-17deg);
}

.button:hover::before {
  background-color: #E3CA9C;
}

.carousel {
  position: relative;
}

.carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel__slide::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 389px;
  background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(rgba(19, 19, 19, 0)));
  background: -o-linear-gradient(top, #131313 0%, rgba(19, 19, 19, 0) 100%);
  background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 100%);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.carousel__image {
  display: block;
  width: 100%;
  border-radius: 60px 60px 0 0;
}

.carousel__inner {
  position: absolute;
  z-index: 1;
  margin-bottom: 170px;
}

.carousel__subtitle {
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
}

.carousel__tizer {
  margin: 40px 0;
}

.carousel__slide {
  padding: 0;
}

.carousel__button {
  margin-left: 10px;
}

.toggle {
  position: absolute;
  right: 0;
  bottom: 158px;
  z-index: 2;
}

.toggle__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.toggle__item {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 10px;
  cursor: pointer;
}

.toggle__item.active {
  opacity: 1;
}

.cards {
  margin-top: 60px;
  margin-bottom: 256px;
}

.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  color: #171717;
  margin: 38px -15px 45px;
}

.cards__item {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 320px;
  background-color: #fff;
  margin: 15px 15px;
}

.cards__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  padding: 0 24px 30px;
}

.cards__image {
  display: block;
}

.cards__title {
  font-family: 'Mulish', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin: 25px 0 21px;
}

.cards__subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.cards__text {
  line-height: 24px;
  color: #666666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.cards__copyright {
  font-size: 12px;
  line-height: 24px;
  color: #666666;
}

.cards__link {
  text-decoration: none;
  color: inherit;
  outline: none;
  font-family: 'Mulish', sans-serif;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #171717;
  padding: 12px 0;
  margin-top: 14px;
}

.cards__button {
  position: relative;
  right: 5px;
  display: block;
  margin: 0 auto;
}

.form-wrapper {
  display: none;
}

.form {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.form__image {
  width: 819px;
}

.form__image:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("images/bg-modal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: skew(-3deg);
  -ms-transform: skew(-3deg);
  transform: skew(-3deg);
}

.form__inner {
  position: relative;
  width: 1000px;
  padding: 56px 46px 138px 139px;
}

.form__inner:before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  background: #131313;
  z-index: -1;
  -webkit-transform: skew(-3deg);
  -ms-transform: skew(-3deg);
  transform: skew(-3deg);
}

.form__title {
  font-weight: bold;
}

.form__text {
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  margin: 20px 0 70px;
}

.form__close {
  border: none;
  background-color: transparent;
  outline: 0px solid transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  font: inherit;
  border-radius: 0;
  position: absolute;
  top: 55px;
  right: 61px;
  width: 86px;
  height: 70px;
  border: 1px solid #fff;
  opacity: 0.4;
  -webkit-transform: skewX(-17deg);
  -ms-transform: skewX(-17deg);
  transform: skewX(-17deg);
}

.form__close::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: skewX(17deg);
  -ms-transform: skewX(17deg);
  transform: skewX(17deg);
}

.form__group {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.form__label {
  position: absolute;
  top: 21px;
  left: 36px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.form__input {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 70px;
  font-weight: bold;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 33px 36px 17px;
}

.form__input::-webkit-input-placeholder {
  opacity: 1;
  color: inherit;
}

.form__input::-moz-placeholder {
  opacity: 1;
  color: inherit;
}

.form__input:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}

.form__input::-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}

.form__input::placeholder {
  opacity: 1;
  color: inherit;
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__input:focus::-moz-placeholder {
  opacity: 0;
}

.form__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::placeholder {
  opacity: 0;
}

.form__input.active {
  border: 1px solid #fff;
}

.form__input.active + .form__label {
  top: 15px;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
}

.form__input.error {
  border: 1px solid #FE60B7;
  -webkit-box-shadow: 0 0 2px 1px #FE60B7;
  box-shadow: 0 0 2px 1px #FE60B7;
}

.form__textarea {
  resize: vertical;
  outline: none;
  width: 100%;
  height: 150px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 33px 36px 17px;
}

.form__textarea.active {
  border: 1px solid #fff;
}

.form__textarea.active + .form__label {
  top: 15px;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
}

.form__textarea.error {
  border: 1px solid #FE60B7;
  -webkit-box-shadow: 0 0 2px 1px #FE60B7;
  box-shadow: 0 0 2px 1px #FE60B7;
}

.form__submit-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 11px;
  margin-top: -4px;
}

.form__button {
  margin: 0 50px 0 0;
}

.form__agreement {
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  margin: 0;
}

.form__link {
  text-decoration: none;
  color: inherit;
  outline: none;
  text-decoration: underline;
}

.error-text {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 12px;
  text-transform: lowercase;
  color: #FE60B7;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 16px;
  line-height: 26px;
  background-color: #131313;
  color: #fff;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
}

img {
  border: none;
  max-width: 100%;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus, button:active {
  outline: 0px solid transparent;
}

picture {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  padding: 0 100px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  min-height: calc(var(--vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.content__section {
  margin-top: 48px;
}

.title {
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  color: #fff;
}

.button-icon {
  text-decoration: none;
  color: inherit;
  outline: none;
  width: 74px;
  height: 60px;
  border: 1px solid #fff;
  opacity: 0.4;
  -webkit-transform: skewX(-17deg);
  -ms-transform: skewX(-17deg);
  transform: skewX(-17deg);
  -webkit-transition: opacity .8s ease;
  -o-transition: opacity .8s ease;
  transition: opacity .8s ease;
}

.button-icon::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-mask-image: url(images/phone.svg);
  mask-image: url(images/phone.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-transform: skewX(17deg);
  -ms-transform: skewX(17deg);
  transform: skewX(17deg);
  -webkit-transition: background-color .8s ease;
  -o-transition: background-color .8s ease;
  transition: background-color .8s ease;
  background-color: #fff;
}

.button-icon:hover {
  opacity: 1;
}

.fancybox__content {
  color: #fff;
  background-color: transparent;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.carousel__button.is-close {
  display: none;
}

.carousel__slide {
  padding: 0;
}

@media (max-width: 1680px) {
  .header__link {
    margin-right: 66px;
  }
  .menu {
    margin: 0 -15px;
  }
  .menu__item {
    margin: 0 15px;
  }
  .cards__item {
    margin: 10px;
  }
  .cards__inner {
    padding: 0 20px 20px;
  }
  .cards__title {
    line-height: 22px;
    margin: 20px 0 16px;
  }
  .cards__subtitle {
    line-height: 22px;
    margin-bottom: 16px;
  }
  .cards__text {
    line-height: 20px;
  }
  .form__inner {
    padding: 56px 46px 138px 70px;
  }
  .form__close {
    right: 36px;
  }
}

@media (max-width: 1400px) {
  .button {
    width: 234px;
  }
  .header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__phone {
    margin-right: 22px;
  }
  .form__close {
    top: 40px;
  }
  .form__submit-wrapper {
    display: block;
    margin-left: 0;
  }
  .form__button {
    margin: 0;
  }
  .form__agreement {
    margin-top: 16px;
  }
  .form__text {
    margin: 20px 0 40px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 48px;
  }
  .hamburger {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header__link {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-right: 0;
  }
  .header__group-wrapper {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-left: 0;
  }
  .header__phone {
    margin-right: 7px;
  }
  .menu__list {
    display: block;
  }
  .menu__item {
    margin: 0 0 15px;
  }
  .menu__link {
    font-size: 36px;
    line-height: 54px;
    text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;
    color: #131313;
    opacity: 0.4;
  }
  .menu__link:hover {
    color: #fff;
  }
  .button {
    width: 183px;
  }
  .carousel__inner {
    width: 75%;
    margin-bottom: 70px;
  }
  .carousel__tizer {
    margin: 25px 0;
  }
  .title {
    font-size: 36px;
    line-height: 45px;
  }
  .toggle {
    bottom: 70px;
  }
  .fancybox__slide {
    padding: 0;
  }
  .form__image {
    display: none;
  }
  .form__inner {
    padding: 56px 46px;
    background: #131313;
  }
  .form__inner::before {
    display: none;
  }
  .form__close {
    width: 76px;
    height: 60px;
  }
}

@media (max-width: 1024px) {
  .fancybox__slide {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .header__group-wrapper {
    display: none;
  }
  .menu__group-wrapper {
    display: block;
  }
  .menu__button {
    width: 100%;
  }
  .menu__button::after {
    display: none;
  }
  .menu__phone {
    display: block;
    width: 100%;
    height: 60px;
    margin: 51px 0 6px;
  }
  .title {
    font-size: 26px;
    line-height: 30px;
  }
  .toggle {
    position: relative;
    margin-top: 100px;
  }
  .toggle__list {
    text-align: left;
    margin: 0 -5px;
  }
  .toggle__item {
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
  }
  .carousel__inner {
    width: 100%;
  }
  .carousel__tizer {
    margin: 20px 0;
  }
  .cards__item {
    margin: 10px auto;
  }
}

@media (max-width: 576px) {
  .carousel__inner {
    margin-bottom: 10px;
  }
  .cards {
    margin-top: 0;
  }
  .form {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 30px;
  }
  .carousel__image {
    display: none;
  }
  .carousel__inner {
    position: relative;
    margin-top: 40px;
  }
  .carousel__slide::after {
    display: none;
  }
  .menu__link {
    font-size: 26px;
    line-height: 40px;
  }
  .menu.open {
    padding: 55px 30px 0;
  }
  .form__inner {
    padding: 96px 20px 56px;
  }
  .form__close {
    top: 20px;
  }
  .error-text {
    line-height: 20px;
    font-size: 8px;
  }
}
