.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-top: 1px #F2F2F2 solid;
    padding: 15px 10px 20px 10px;
    margin-bottom: 0;
    &__item {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;
        .arrow {
            width: 8px;
            height: 5px;
            background: url(../icon/arrow_red_bottom.svg) center (center / cover) no-repeat;
            cursor: pointer;
            margin: 3px 0 0 5px;
            &_active {
                background: url(../icon/arrow_red_top.svg) center (center / cover) no-repeat;  
            }
        }
    }
    &__link {
        color: #4E4E4E;
        cursor: pointer;
        &:hover {
            color: #DA2328;
            text-decoration: none;
        }
    }
    .submenu {
        position: absolute;
    }
}
.card-menu {
    &__list {
        border-top: none;
        box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
        border-radius: 10px;
        padding: 0;
    }
    &__btn {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        width: 290px;
        height: 60px;
        color: #131313;
        background: #FFFFFF;
        padding: 0;
        &_active {
            color: #FFFFFF;
            background: #162345;
        }
    }
}